<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load static %}
{% block body_block %}

<!-- Add link to profile in nav bar -->

<div class="container">

<h1> Your profile </h1>

  <p> Welcome {{user.username}} </p>
  <p> Email address: {{user.email}} </p>
  <p> Portfolio site: {{user.user_info.portfolio_site}} </p>
  <img src="{{user.user_info.profile_pic.url}}" class="img-thumbnail" style="width:100px;height:100px;">
  <p> {{UserProfileInfo.profile_pic}} </p>
  <p> {{UserProfileInfo.portfolio_site}} </p>


</div>

{% endblock %}
